body {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  background: rgba(246, 246, 246, 0.5);
  font-size: 16px;
  color: #a4a4a4;
}

.header__area {
  display: grid;
  grid-template-columns: 228px 1fr;
  column-gap: 34px;
  align-items: center;
}

.header__logo {
  grid-row: span 2;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 22px 0;
  border-bottom: 1px solid #E8E8E8;
}

.header__number {
  color: #2E2E2E;
  font-weight: 700;
}

.header__nav {
  display: flex;
  align-items: center;
  margin: 26px 0 31px;
}

.header__social {
  display: flex;
  gap: 26px;
  align-items: center;
}

.header__search {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__user {
  margin-left: 33px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__card {
  margin-left: 33px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__burger {
  margin-left: 33px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: center;
}
.header__burger span {
  border-radius: 5px;
  background-color: #a4a4a4;
  width: 20px;
  height: 3px;
}
.header__burger span:nth-child(2) {
  border-radius: 5px;
  background-color: #a4a4a4;
  width: 40px;
}

.banner-main {
  position: relative;
  height: 850px;
}
.banner-main__social {
  position: absolute;
  transform: translate(0, -50%);
  left: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 23px;
  background: rgba(232, 232, 232, 0.27);
  z-index: 2;
}
.banner-main__area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.banner-main__slovo {
  color: #972721;
  font-family: "Cyrillic Old", sans-serif;
  font-size: 211px;
  font-style: normal;
  font-weight: 700;
}
.banner-main__slogan {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}
.banner-main__slogan:nth-child(2) {
  color: #972721;
  left: 230px;
  top: 175px;
}
.banner-main__slogan:nth-child(2) span:nth-child(1) {
  margin-right: 70px;
}
.banner-main__slogan:nth-child(2) span:nth-child(2) {
  margin-left: auto;
}
.banner-main__slogan:nth-child(3) {
  color: rgba(151, 39, 33, 0.5);
  right: 0;
  bottom: 270px;
}
.banner-main__slogan:nth-child(4) {
  color: #D4D5D5;
  right: 350px;
  bottom: 120px;
  justify-content: flex-start;
  align-items: flex-end;
}
.banner-main__slogan:nth-child(4) span:nth-child(2) {
  margin-right: 20px;
}
.banner-main__img {
  position: absolute;
}
.banner-main__img:nth-child(5) {
  left: 0;
  bottom: 0;
}
.banner-main__img:nth-child(6) {
  right: 280px;
  top: 72px;
}
.banner-main__img:nth-child(7) {
  right: 0;
  top: 221px;
  z-index: -1;
}
.banner-main__bg {
  position: absolute;
}
.banner-main__bg:nth-child(4) {
  left: 0;
  bottom: 76px;
}
.banner-main__bg:nth-child(5) {
  right: 0;
  bottom: -90px;
}
.banner-main__nav {
  position: absolute;
  transform: translate(0, -50%);
  right: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 2;
}
.banner-main__nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #A52F2F;
  border: 0;
  padding: 20px;
}

.catalog-head {
  background: #F6F6F6;
  padding: 23px 0;
  display: flex;
  column-gap: 79px;
  color: #A52F2F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  justify-content: center;
}
.catalog-body {
  padding: 64px 47px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 37px;
  row-gap: 20px;
  grid-template-rows: repeat(7, 100px);
}
.catalog-body__item {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 70px;
}
.catalog-body__item span {
  color: #FFF;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.72px;
}
.catalog-body__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.catalog-body__item:nth-child(1) {
  grid-row: span 7;
  align-items: flex-end;
}
.catalog-body__item:nth-child(1) span {
  color: black;
}
.catalog-body__item:nth-child(2) {
  align-items: flex-end;
  grid-row: span 5;
}
.catalog-body__item:nth-child(3) {
  align-items: flex-start;
  grid-row: span 7;
}
.catalog-body__item:nth-child(4) {
  padding: 0 0 0 70px;
  grid-row: span 1;
}
.catalog-body__item:nth-child(5) {
  padding: 0 0 0 70px;
  grid-row: span 1;
}
.catalog-body__item:nth-child(6) {
  grid-row: span 5;
  align-items: flex-start;
}
.catalog-body__item:nth-child(6) span {
  color: black;
}
.catalog-body__item:nth-child(7) {
  grid-row: span 2;
}

.year-block {
  margin: 50px 0;
}
.year-block__area {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 380px;
}
.year-block__area img:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: contain;
  z-index: -1;
}
.year-block__area img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
.year-block__area .year-block__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -150px;
  z-index: 3;
}
.year-block__area h2 {
  color: #A52F2F;
  font-size: 188px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 5.64px;
}
.year-block__area span {
  color: #6E6E6E;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

.container-big {
  max-width: 1650px;
  margin: 0 auto;
}

.title {
  position: relative;
  width: fit-content;
}

.title:before {
  position: absolute;
  transform: translate(-50%, -50%);
  left: -30px;
  top: 50%;
  content: url("img/title-zavitok.webp");
  margin-right: 10px;
}

.we-give {
  margin: 100px 0;
}
.we-give__title {
  text-align: center;
  color: #A52F2F;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.3px;
  margin: 0 auto;
}
.we-give__area {
  margin: 65px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px;
}
.we-give__item {
  display: flex;
  padding: 31px 0 42px 46px;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  border: 2px solid #E8E8E8;
}
.we-give__item:hover {
  border: 2px solid #972721;
}
.we-give__number {
  color: #D5D5D5;
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.9px;
}
.welcome-block {
  position: relative;
}
.welcome-block__bg {
  position: absolute;
  top: -100px;
  left: 0;
}
.welcome-block__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
}
.welcome-block__right {
  margin-right: 150px;
}
.welcome-block__title {
  position: relative;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
  letter-spacing: 0.96px;
  margin-bottom: 20px;
}
.welcome-block__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  z-index: -1;
  width: 329px;
  height: 36px;
  background-color: #E8E8E8;
}
.welcome-block__subtitle {
  margin-bottom: 20px;
  color: #707070;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 225% */
  letter-spacing: 0.32px;
}
.welcome-block button {
  padding-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 264px;
  height: 43px;
  border: 0;
  background: #E8E8E8;
}
.welcome-block button:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 0;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: #A52F2F;
}

.museum {
  position: relative;
}
.museum__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 59px;
}
.museum__info {
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
  align-items: flex-start;
  margin-left: 100px;
}
.museum__info button {
  color: #FFF;
  padding: 15px 40px 15px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background: unset;
  border: 0;
  letter-spacing: 0.48px;
  position: relative;
}
.museum__info button:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 0;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.museum__title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
}
.museum__subtitle {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}
.museum__img {
  position: relative;
  padding: 110px 0;
}
.museum__img img:nth-child(2) {
  position: absolute;
  bottom: 40px;
  left: -40px;
}

.museum::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background: url("./img/museum-bg.webp") no-repeat center/contain;
  background-color: #991817;
  z-index: -1;
}

.woman {
  position: relative;
  margin: 50px 0;
}
.woman__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}
.woman__left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}
.woman__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 238px;
  color: #FFF;
}
.woman__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.woman__item:nth-child(5) {
  grid-column: 2;
}
.woman__right {
  padding: 100px 0 0 0;
  max-width: 300px;
}
.woman__title {
  color: #A52F2F;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 104.348% */
  letter-spacing: 2.3px;
  margin-bottom: 40px;
}
.woman__subtitle {
  color: #616161;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  margin-bottom: 84px;
}
.woman button {
  padding-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 264px;
  height: 43px;
  border: 0;
  color: white;
  background: #A52F2F;
}
.woman button:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 0;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: #E8E8E8;
}
.woman__bg {
  position: absolute;
  top: -100px;
  right: 0;
}

.history {
  position: relative;
  margin: 50px 0;
}
.history__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  margin-right: 150px;
}
.history__left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}
.history__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 238px;
  color: #FFF;
}
.history__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.history__item:nth-child(5) {
  grid-column: 2;
}
.history__left {
  display: flex;
  flex-direction: column;
}
.history__title {
  color: #A52F2F;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 104.348% */
  letter-spacing: 2.3px;
  margin-bottom: 40px;
}
.history__subtitle {
  color: #616161;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  margin-bottom: 84px;
}
.history button {
  padding-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 264px;
  height: 43px;
  border: 0;
  color: white;
  background: #A52F2F;
}
.history button:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 0;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: #E8E8E8;
}

/*# sourceMappingURL=style.css.map */
